* {
    padding: 0;
    margin: 0;
    color: white;
}
body{
    height: 100vh;
}

a {
    text-decoration: none;
    font-weight: bold;
}

/* nav */
nav {
    background: darkcyan;
    height: 8%;
    display: flex;
    align-items: center;
    gap: 25px;
}

h4 {
    color: white;
}

nav i {
    font-size: larger;
    margin-left: 20px;
}


/* Container */
main {
    display: flex;
}


/* Menu */
main .aside-left {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width: 17%;
    height: 100vh;
    background: black;
}

main .aside-left .item {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 80%;
    height: 40px;
    margin-top: 30px;
    gap: 25px;

}

main .aside-left .item i {
    margin-left: 20px;
}

main .aside-left .item:hover {
    background: red;
}

main .aside-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1170px;
    height: 100%;
}

main .aside-right .show-items {
    display: flex;
    justify-content: center;
    width: 77%;
    height: 100px;
    margin-top: 30px;
    gap: 20px;

}

main .aside-right .show-items .show-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 210px;
    background: rgb(221, 221, 221);
    border-radius: 10px;
    /* border: 1px solid teal; */

}

main .aside-right .show-items .show-name .box-name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 35px;
    margin-top: -10px;
    background: rgba(102, 11, 11, 0.884);
    /* border-radius: 5px; */
}


main .aside-right .show-items .show-name .box-name p {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

main .aside-right .show-items .show-name .instock,
.category,
.soldout,
.income {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 90px;
}

main .aside-right .show-items .show-name .instock p,
.category p,
.soldout p,
.income p {
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

main .aside-right .table-item {
    width: 77%;
    height: 100%;
    margin-top: 50px;
}

main .aside-right .table-item h1 {
    color: black;
}

main .aside-right .table-item table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

main .aside-right .table-item table th {
    padding: 15px;
    background: teal;
    color: white;
    border: 2px solid white;
}

main .aside-right .table-item table td {
    text-align: center;
    padding: 15px;
    color: black;
    font-weight: bold;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}


main .aside-right .table-item table tr:nth-child(even) {
    background: rgb(217, 218, 214);
}

main .aside-right .table-item table td i{
    color: rgb(0, 226, 49);
}